body{font-family: Roboto; 
  font-weight: 500;
  line-height: 24px;
  color: #2e2f42;
  width: 1440px;
  height: 3300px;}
header{  display: flex;
  width: 1440px;
  align-items: center;
  flex-shrink: 0;}
.logo{margin: 24px 76px 24px 156px;}
.web{color: #4d5ae5;
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-transform: uppercase;}
.ul1{font-size: 16px;
  font-style: normal;
  letter-spacing: 0.32px;
  margin-top:24px; padding-right: 40px; margin-bottom:24px;}
.ul1:focus{color: #434455;}
.address{color: #434455;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px; margin-top:24px; margin-left: 292px; margin-bottom:24px;}
.address1{padding-right: 40px;}
.h{text-align: center;
  width: 1440px;
  flex-shrink: 0;
  background-color: black;}
h1{color: white;
  text-align: center;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 1.12px;
  padding: 188px 472px 48px 472px;}
.b{color: white;
  background-color: #4d5ae5;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
  margin: 48px 635px 188px 636px;}
.section{padding-left: 156px;}
.section>div{width: 264px; display: inline-block; padding-right: 24px; 
  margin-top: 120px; margin-bottom: 120px;}
h2,h4{font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; justify-content: center;
  letter-spacing: 0.4px;}
.h2p {color:#434455; justify-content: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;}
.h3{background: #f4f4fd;}
h3{text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  padding-top: 120px;}
.h3>div {padding-left: 156px;}
.h3>div>div{display: inline-block; padding-right: 24px; flex-direction: column; 
  margin-top: 72px; margin-bottom: 120px;
  justify-content: center;
  align-items: center;
  width: 264px;}
.h3>div>h4{padding-top: 32px;}
.h3>div>p{padding-bottom: 32px;}
.Portfolio{margin-left: 156px}
.Portfolio>h3{padding-top: 0;}
.Portfolio>div{display: inline-block; width: 360px; padding-right: 24px;
  flex-direction: column;
  gap: 32px;
  flex-shrink: 0;
  border: 1px solid #E7E9FC;
  background:#FFF; padding-right: 24px;}
.footer {width: 1440px;
  height: 312px;
  flex-shrink: 0;
  color: #f4f4fd;
  background: #2e2f42;}
